*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    padding: 0.5rem 0;
    background: #141414;
    max-height: 10%;
    position: fixed;
}

.nav-bar .items{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.nav-bar .items a{
    text-decoration: none;
    font-size: 1.3rem;
    margin : 0 20px;
}


.nav-bar .items .item{
    color: #D2D2D2;
}

.btns{
    width: auto;
}

.btn{
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 10px;
}

.search-bar{
    width: 400px;
}

.btn.purple {
    background-color: #5E4BFF;
    color: #D2D2D2;
}

.btn.white {
    background-color: #D2D2D2;
    color: #5E4BFF;
}

.nav-bar img{
    width: 5%;
    cursor : pointer;
}

.profile-info {
    width: auto;
    height: 50px;
    cursor : pointer;
}

.profile-info img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.username {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    font-size: 0.95rem;
    margin-left: 8px;
}

.profile-info {
    display: flex;
    align-items: center;
}