*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.test{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
}

.anime_card{
    width: 180px;
    padding: 20px 15px;
    border-radius: 20px;
    height: auto;
    display : flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease , margin 0.3s ease;
    text-decoration: none;
    color: #D2D2D2;
    flex-shrink: 0;
    width: 180px;
    max-width: 180px;

}


.anime_card:hover{
    transform: scale(1.05);
    margin: 0 10px;
}

.anime_image{
    border-radius: 10px;
    max-width: 180px;
    height: 270px;
    display: block;
    transition: 0.4s ease;
}



.anime_image:hover{
    border: 3px #413685 solid ;
}

.anime_dis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:left;
    width: 100%;
    margin-top : 10px;
}

.anime_title{
    white-space: nowrap;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.genre{
    background-color: rgba(50, 33, 191, 0.63);
    padding: 5px;
    margin : 5px 0 ;
}

.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top : 5px;
}

.rating{
    display: flex;
    gap : 5px;
}

.star{
    color: orange;
}


